div
  header.main-header
    .first-nav
      .container
        nav.first-nav__links
        a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menu
    .second-nav.js-nav
      .container
        a.second-nav__logo: span MB
        nav.menu
          ul
            li
              a.js-link.js-anchor.is-selected(href="/#home") Home
            li
              a.js-link.js-anchor(href="/#about") About
            li
              a.js-link.js-anchor(href="/#skills") Skills
            li
              a.js-link.js-anchor(href="/#contact") Contact
            li
              a.js-link.js-anchor(href="/#projects") Projects
            li
              a.js-link.js-anchor(href="/#posts") Posts
  section#home.home-section
    .home-section__bg
    .home-section__overlay
      .container
        header.home-section__header
          h1 Michael Beck
          h2 Data Scientist.
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 About me
        .about-card__info
          p Graduate of LambdaSchool Data Science, with a background in Chemical Engineering. Experience in a research setting dealing with Biomolecular Simulation and various programming languages, databases, and cloud operations.
          p.about-card__info-status
            span Current status:
            |  Available for hire
  section#skills.common-section
    .section.common-section__header
      h2 Relevant Skills
    .container
      .grid-container
        ul.services
          h3 Data Science Knowledge Areas
          li.services__item
            h4 Predictive Modelling
            p Linear Regression, Logistic Regression, Decision Trees, Ensemble Methods
          li.services__item
            h4 Machine Learning
            p NLP, Neural Networks (RNN, CNN, LSTM, AutoEncoders)
          li.services__item
            h4 Computer Science
            p Algorithms, Data Structures, Graphs
        ul.services#ds-apps
          h3 Data Science Tools &amp; Libraries
          li.services__item
            h4 Data Visualization
            p Python: matplotlib
            p JavaScript: nivo.rocks, d3.js
          li.services__item
            h4 Data Cleaning
            p Python: numpy, pandas
            p Scala
          li.services__item
            h4 Databases
            p PostgreSQL, MySQL, MongoDB, Neo4j
          li.services__item
            h4 Cloud Operations
            p AWS (Sagemaker, RDS, EC2, CloudFormation, etc.)
            p Google Cloud (App Engine, Compute Engine, etc.)
        ul.services#uni-areas
          h3 Relevant University Level Courses
          li.services__item
            h4 Chemistry
            p Physical Chemistry, Organic Chemistry, Inorganic Chemistry
          li.services__item
            h4 Biology
            p Microbiology
          li.services__item
            h4 Statistics
            p Design of Experiments, Statistical Methods for Quality Improvement and Design (Six Sigma)
          li.services__item
            h4 Mathematics
            p Calculus I &amp; II, Differential Equations, Applied Mathematics for Chemical Engineers
          li.services__item
            h4 Chemical Engineering
            p Fluid Mechanics, Thermodynamics, Heat Transfer, Microfluidics
        ul.services#prog-langs
          h3 Programming Languages
          li.services__item
            h4 Data Science
            p Python
            p Scala
          li.services__item
            h4 Web Development
            p Python
            p Go
            p JavaScript
            p HTML
            p CSS/SCSS
          li.services__item
            h4 Molecular Simulation Related
            p Python
            p Tcl
            p C++
          li.services__item
            h4 Software Development
            p Python
            p C/C++
            p Go
        ul.services#add-apps
          h3 Additional Relevant Applications
          li.services__item
            h4 Statistical Analysis
            p JMP
          li.services__item
            h4 Molecular Simulation
            p NAMD, VMD, mmtk
          li.services__item
            h4 Container Development &amp; Execution
            p Docker, Kubernetes
  section#contact.contacts-section
    .container
      section.contact-card
        header.contact-card__header
          h2 Contact information
          h4 Feel free to check out my GitHub or Linkedin Profile or contact me using any of the methods below for more information.
        .contact-info
          .contact-info__logo MB
          .contact-info__group
            .contact-info__vcard.vcard
              h4.fn.org Michael Beck
              p.role.title Data Scientist
              p.icon.icon_loc
                a.adr.js-anchor(href="#gmap")
                  span.country-name USA
                  | ,&nbsp;
                  span.locality Seabrook NH
              p.icon.icon_mail
                a.email(href="brit228@gmail.com") brit228@gmail.com
              p.icon.icon_phone
                a.email(href="tel:16039182538") +1 (603) 918-2538
            ul.contact-info__social
              li
                a.icon.icon_ln(href="https://www.linkedin.com/in/michaelpbeck/" rel="nofollow") Linkedin
              li
                a.icon.icon_git(href="https://github.com/brit228" rel="nofollow") Github
    #gmap.gmap
  section#projects.common-section
    header.common-section__header
      h2 Projects
    .container
      .grid-container
        ul.services
          figure.project-ind
            img(src="/images/projects/safespot.jpg" alt="Safespot").project-img
            figcaption
              a.icon.icon_link(href="https://safespot.netlify.com" rel="nofollow") SafeSpot
        ul.services
          div
            h3 SafeSpot
            br
            p Website application developed between three Data Science students at LambdaSchool for the purpose of tracking and predicting crime in major cities with emphasis on visuals.
            br
            p Available at: 
              a(href="https://safespot.netlify.com") safespot.netlify.com
  //- section#posts.common-section
  //-   .section.common-section__header
  //-     h2 Posts
  //-   .projects-wrap
  //-     .grid-container
  //-       .projects
  //-         figure.projects__item(@for='(post, i) in posts')
  //-           img(src='{post.mainImg}' alt='{post.title}')
  //-           figcaption
  //-             a.icon.icon_link(href='{post.url}') {post.title}
  section#spacer.common-section
  footer.main-footer
    .container
      p.main-footer__copyright
        | &copy;&nbsp;
        span Michael Beck
      a.main-footer__gotop.icon.icon_gotop.js-anchor(href="#home") To top!
      p.main-footer__links
        | Designed by&nbsp;
        a(href="http://orlovmax.com") Maxim Orlov
