header.main-header
  .first-nav
    .container
      nav.first-nav__links
      a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menu
  .second-nav.js-nav
    .container
      a.second-nav__logo: span MB
      nav.menu
        ul
          li
            a.js-link.js-anchor.is-selected(href="/#home") Home
          li
            a.js-link.js-anchor(href="/#about") About
          li
            a.js-link.js-anchor(href="/#skills") Skills
          li
            a.js-link.js-anchor(href="/#contact") Contact
          li
            a.js-link.js-anchor(href="/#projects") Projects
          li
            a.js-link.js-anchor(href="/#posts") Posts
